/* ================= Global Styles ================== */
/* Primary color from branding guidelines */
:root {
  /* colors */
  --clr-light: hsl(0, 0%, 100%);
  --clr-accent: hsl(75, 94%, 57%);
  --clr-dark-charcoal: hsl(0, 0%, 20%);
  --clr-deep-charcoal: hsl(0, 0%, 12%);
  --clr-almost-blk: hsl(0, 0%, 8%);

  /* font sizes */
  --fs-body: 1rem;
  --fs-h1: 1.5rem;
  --fs-btn:.875rem;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ================= Layout ================== */
html, body {
  height: 100%;
  margin: 0;
}

html {
  font-size: 1rem;
}

h1, p {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-body);
  color: var(--clr-light);
  background: var(--clr-almost-blk);
  line-height: 1.5;
  padding: 2rem;
  display: block;
  min-height: 100vh;
}

/* Apply vertical centering for tablet and larger screens */
@media(min-width: 48em) { 
  body {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
}

main {
  background-color: var(--clr-deep-charcoal);
  border-radius: 1.25em;
  max-width: 23.4rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-size: var(--fs-h1);
}

.container {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
}

/* Tablet styles at 768px and up */
@media(min-width: 48em) {
  .container {
    max-width: 28.5em;
    margin: 2.5rem;
    max-height: 611px;
  }
}

/* Desktop styles at 1440px and up */
@media(min-width: 90em) {
  .container {
    max-width: 33em;
  }
}

/* ================= Profile Section ================== */
.profile-img {  
  width: 88px;
  height: 88px;
  margin: 0 auto;
}

.profile-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-img + .profile-info {
  margin-top: 1.5rem;
}

.profile-description, 
.profile-info {
  margin-bottom: 1.5rem;
}

.profile-info {
  font-size: .885rem; 
  text-align: center;
  font-weight: 600;
}

.name {
  margin: 0;
}

.location {
  color: var(--clr-accent);
  text-align: center;
  margin-top: .3em;
}

.profile-description {
  text-align: center;
}

.profile-links {
  list-style: none;     
  padding-left: 0;       
  margin: 0;            
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.profile-links li {
  display: flex;      
  align-items: center;  
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

/* ================= Buttons ================== */
.btn {
  padding: 1.25em 2em;
  background: var(--clr-dark-charcoal);
  text-align: center;
  font-size: var(--fs-btn);
  font-weight: 700;
  border-radius: 0.3em;
  cursor: pointer;
  transform: scale(1);
  transition: background 500ms ease, transform 500ms;
  width: 100%;
}

/* Disable or reduce motion for users who prefer it */
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none; /* Turn off transitions to prevent motion */
  }
}

.btn:hover,
.btn:focus {
  background: var(--clr-accent);
  transform: scale(1.02);
  color: var(--clr-almost-blk);
}